.menu_desktop {
  position: fixed;
  text-align: center;
  top: 20px;
  left: 250px;
  z-index: 100;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.menu {
  display: flex;
  height: 65px;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  border-radius: 200px;
}
.menu_desktop_left {
  padding-right: 150px;
}
.menu_desktop_right {
  padding-left: 150px;
}
.menu_desktop_right li {
  font-size: 12px;
  padding: 20px;
  display: inline-block;
}
