.text {
  font-size: 16px;
  margin: 20px 0;
  color: #828282;
}
.size_small {
  font-size: 12px;
}
.color_white {
  color: white;
}
.color_green {
  color: rgb(13, 117, 13);
}
.color_black {
  color: black;
}
.center {
  text-align: center !important;
}

@media (max-width: 1000px) {
  .text {
    font-size: 16px;
  }
}
