.text {
  font-size: 16px;
  margin: 40px 0;
  color: #828282;
}
.small {
  font-size: 12px;
}
.color_white {
  color: white;
}
.center {
  text-align: center !important;
}

@media (max-width: 1000px) {
  .text {
    font-size: 16px;
  }
}
