.box {
  margin: 10px 0;
}
.title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.divider {
  width: 100%;
  background-color: #b04fc1;
  height: 5px;
  margin: 10px 0;
}
.white {
  color: white;
}
.align_center {
  width: 100%;
  text-align: center;
}

.size_big {
  font-size: 55px;
  font-weight: 700;
}
.size_medium {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.size_small {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
}

.color_gray {
  color: #666;
}
.color_white {
  color: white;
}
.color_green {
  color: #00bf6f;
}
.color_green1 {
  color: rgb(13, 117, 13);
}

@media (max-width: 1080px) {
  .title {
    display: inline-block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: #666;
    letter-spacing: -0.2px;
    margin: 10px 0;
  }
  .white {
    color: white;
  }

  .size_big {
    font-size: 35px;
    font-weight: 700;
  }
  .size_medium {
    font-size: 20px;
    font-weight: 700;
  }
  .size_small {
    font-size: 18px;
    font-weight: 700;
  }
}
