.head {
  background: linear-gradient(180deg, #39b44a 0%, #208d2e 100%);
  padding: 160px 20px;
}

.header_title h2 {
  font-weight: 900;
}

.box_flex {
  display: flex;
}
.box_flex_left {
  width: 70%;
}
.box_flex_right {
  width: 30%;
}
.padre {
  position: relative;
  background-color: yellow;
  width: 100%;
}
.hijo {
  width: 300px;
  position: fixed;
  z-index: 999;
}

.box_grid {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}
.box_grid_item_left {
  padding: 20px 10px;
}
.box_grid_item_right {
  padding: 20px;
}
.box_image_background {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.box_image {
  width: 100%;
  margin: auto;
}
.box_contacto {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}
.divider {
  width: 100%;
  background-color: white;
  margin-top: 40px;
}

@media only screen and (max-width: 1000px) {
  .box_flex {
    display: block;
    font-size: 10px;
  }
  .header_p p {
    font-size: 12px;
  }
  .box_image {
    width: 75%;
    margin: auto;
  }
  .box_image_background {
    padding: 20px;
  }
  .divider {
    display: none;
  }

  .box_flex_left {
    width: 100%;
  }
  .box_flex_right {
    width: 100%;
  }
  .padre {
    position: relative;
    background-color: yellow;
    width: 100%;
  }
  .hijo {
    width: 100%;
    position: inherit;
  }
}
