.container {
  margin: 0 auto;
  max-width: 1100px;
}
.head {
  background: linear-gradient(180deg, #39b44a 0%, #208d2e 100%);
  padding: 200px 100px;
}

.header_title h2 {
  font-weight: 900;
}

.footer {
  background-color: white;
  padding: 100px 200px;
}
.flex_footer {
  display: flex;
  justify-content: space-between;
}
.footer_space1 {
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  opacity: 1;
  background-color: white;
}
.flex_footer p {
  color: #7d7d7d;
}

.footer_right input {
  border-style: none;
  background: #f1f8fc 0% 0% no-repeat padding-box;
  border-radius: 23px;
  padding: 5px 75px;
}
.footer_right button {
  color: white;
  font-size: 10px;
  background: linear-gradient(270deg, #007b3a 0%, #003e1d 100%);
  border-style: none;
  border-radius: 23px;
  padding: 10px 50px;
}

/* footer-down */
.footer_img {
  padding: 30px 0;
}
.footer_down {
  background-color: white;
}
.footer_text p {
  margin: 20px 0 !important;
}
.flex_footer_down {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.space {
  background-color: white;
}
.footer_space {
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  opacity: 1;
  width: 80%;
  background-color: white;
}
.foo_left a {
  font-size: 12px;
  padding-right: 10px;
  text-decoration: none;
  background-color: white;
  display: flex;
  display: inline-block;
}
.foo_right a {
  background-color: white;
  padding-right: 10px;
}
/* box flex */
.box_flex {
  display: flex;
}
.box_flex_left {
  width: 50%;
}

.box_flex_left h2 {
  padding-top: 50px;
}

.box_flex_right {
  width: 50%;
}

.box_image {
  width: 60%;
  margin: auto;
}
.box_contacto {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}
.nombre {
  padding-bottom: 20px;
}
.nombre input {
  width: 100%;
  border-style: none;
  background: linear-gradient(180deg, #39b44a 0%, #208d2e 100%);
  border-radius: 25px;
  padding: 10px 75px;
}

.nombreytel {
  display: flex;
  justify-content: space-between;
}
.nombreytel input {
  border-style: none;
  background: linear-gradient(180deg, #39b44a 0%, #208d2e 100%);
  border-radius: 25px;
  padding: 10px 60px;
}
.email {
  padding-bottom: 30px;
}

.tel {
  padding-bottom: 30px;
}
.area {
  text-align: center;
  padding-bottom: 30px;
}

.area input {
  border-style: none;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.form {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
}
.input_box_full {
  grid-column: span 2;
  padding-right: 10px;
}
.input_box_half {
  grid-column: span 1;
  padding-right: 10px;
}
.form input,
.form textarea {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  width: 100%;
  margin: 10px 0;
  padding: 20px 20px;
  color: #ddd;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #ddd;
}
.form textarea {
  min-height: 100px;
}

.btnform {
  padding-top: 25px;
}

@media only screen and (max-width: 1000px) {
  .head {
    padding: 120px 20px 40px 20px;
    text-align: center;
  }
  .box_flex {
    display: block;
  }
  .box_flex_left {
    padding: 0;
    width: 100%;
  }
  .box_flex_right {
    width: 100%;
  }
  .input_box_half {
    grid-column: span 2;
    padding-right: 10px;
  }
}
