.container {
  margin: 0 auto;
  width: 100%;
}
.header {
  padding: 100px 300px;
  text-align: left;
  background-color: black;
}
.header h1 {
  margin: 0;
  color: white;
  font-size: 45px;
}
.header p {
  color: white;
  font-size: 14px;
  margin-bottom: 60px;
}
.header button {
  color: #006938;
  font-size: 13px;
  padding: 20px 50px;
  border-style: none;
  box-shadow: 1px 6px 38px #ccccdf4d;
  border-radius: 35px;
}

.section {
  background: transparent linear-gradient(180deg, #39b44a 0%, #208d2e 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px -5px 30px #00000045;
  opacity: 1;
}

/* section1 */
.section1 {
  padding: 50px 300px;
  color: white;
}
.section_card {
  display: flex;
  justify-content: space-between;
  padding: 0px 300px;
  padding-bottom: 75px;
}
.section_cards {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.section_card h5 {
  text-align: left !important;
}
.separador {
  border: 1px solid rgb(13, 117, 13);
  width: 30px;
}
.text_card {
  font-size: 13px;
}
.text_card p {
  margin: 5px !important;
  text-align: left !important;
}
.separador2 {
  border: 1px solid rgb(13, 117, 13);
  width: 90%;
  margin-bottom: 20px;
}
.separador3 {
  margin: 0 auto;
  border: 0.5px solid white;
  width: 80%;
}

/* section2 */
.section2 {
  text-align: center;

  padding: 30px;
}
/* section3 */
.section3 {
  text-align: center;
  padding: 50px 150px;
  padding-bottom: 200px;
}
.somos {
  text-align: center;
  color: white;
}
.somos h2 {
  font-size: 40px;
  letter-spacing: -0.9px;
  color: #ffffff;
  opacity: 1;
}
.somos h4 {
  color: #c2c2c2;
}
.section3 button {
  color: #006938;
  font-size: 10px;
  border-style: none;
  padding: 15px 25px;
  border-radius: 50px;
}
/* section4 */

.section4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: top;
  padding: 70px;
}
.content_left img {
  border-radius: 10px;
}
.content_right {
  padding-top: 35px;
  font-size: 17px;
}
.content_right_boton {
  padding-top: 50px;
}
.section4 button {
  color: #006938;
  background: #ffffff;
  box-shadow: 1px 6px 38px #ccccdf4d;
  opacity: 1;
  border-style: none;
  font-size: 10px;
  padding: 15px 50px;
  border-radius: 50px;
}

/* section5 */

.clients {
  background: transparent linear-gradient(180deg, #39b44a 0%, #208d2e 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px -5px 30px #00000045;
  opacity: 1;
  padding: 125px;
}
.clients_inner {
  padding: 30px;
  margin: 0 auto;
  background: #fafafa 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 36px;
  opacity: 1;
  width: 95%;
}

.clients_text {
  font-size: 10px;
  line-height: 0.5;
  padding: 20px 50px;
}
.clients_card {
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #00000029;
  border-radius: 36px;
  opacity: 1;
}

.clients_card1 {
  font-size: 10px;
  padding: 40px;
}

.clients_img {
  padding: 10px;
}

/* section5 */

.contact {
  padding: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}
.contact .empresa {
  padding: 10px;
}
.contact .nombre {
  padding: 10px;
}
.contact input {
  width: 100%;
  padding: 10px;
  background: #f1f8fc 0% 0% no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
  border-style: none;
}
.inps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}
.inps .tel {
  padding-right: 20px;
}
.contact_boton {
  padding: 10px;
}
.contact_boton button {
  border-style: none;
  background: transparent linear-gradient(270deg, #008b42 0%, #004621 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 1px 6px 38px #ccccdfcf;
  border-radius: 25px;
  padding: 10px 50px;
  opacity: 1;
  color: white;
}
.contact_right {
  padding-top: 100px;
  padding-left: 100px;
}
.contact_right .contact_img {
  width: 100%;
}

/* footer */

.flex_footer {
  margin: 0 auto;
  padding: 150px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_footer p {
  color: #7d7d7d;
}

.footer_right input {
  border-style: none;
  background: #f1f8fc 0% 0% no-repeat padding-box;
  border-radius: 23px;
  padding: 5px 75px;
}
.footer_right button {
  color: white;
  background: transparent linear-gradient(270deg, #007b3a 0%, #003e1d 100%) 0%
    0% no-repeat padding-box;
  border-style: none;
  border-radius: 23px;
  padding: 5px 20px;
}

/* footer-down */

.foo_left li {
  font-size: 12px;
  padding: 10px;
  display: inline-block;
}

.foo_right a {
  padding: 10px;
}
