.container{
  margin: 0 auto;
  width: 100%;
}
.header { 
  padding: 100px 300px;
  text-align: left;
  background-color: black;
}
.header h1 {
  margin: 0;
  color: white;
  font-size: 45px;
}
.header p {
  color: white;
  font-size: 14px;
  margin-bottom: 60px;
}
.header button {
  color: rgb(13, 117, 13);
  font-size: 13px;
  padding: 20px 50px;
  border-radius: 50px;
}

.section{
  background: transparent linear-gradient(180deg, #39B44A 0%, #208D2E 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px -5px 30px #00000045;
  opacity: 1;

}


/* section1 */
.section1{
  padding: 50px 300px;
  color: white;
 
}
.section_card{
  
  display: flex;
  justify-content: space-between;
  padding: 0px 300px;
  padding-bottom: 75px;
}
.section_cards{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.section_card h5{
  text-align: left!important;
}
.separador{
  border: 1px solid rgb(13, 117, 13);
  width: 30px;
}
.text_card {
  font-size: 13px;

}
.text_card p{
  margin: 5px!important;
  text-align: left!important;
  
}
.separador2{
  border: 1px solid rgb(13, 117, 13);
  width: 90%;
  margin-bottom: 20px;
}
.separador3{

  margin: 0  auto;
  border: .5px solid white;
  width: 80%;

}

/* section2 */
.section2{
  text-align: center;
  
  padding: 30px 
}
/* section3 */
.section3 {
  text-align: center;

  padding: 50px 150px;
  padding-bottom: 200px;
}

.somos {
text-align: center;
color: white;
}
.somos h4{
  color: rgb(187, 187, 187);
}
.section3 button{
  color: rgb(13, 117, 13);
  font-size: 10px;
  padding: 15px 25px;
  border-radius: 50px;
  
}
/* section4 */

.section4 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  padding: 100px;
  grid-gap: 100px;
}
.content_left img{
  border-radius: 10px;
}
.content_right{
  text-align: left!important;
}
.content_right_text{
  font-size: 13px;
}

/* section5 */

.clients{
  background: transparent linear-gradient(180deg, #39B44A 0%, #208D2E 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px -5px 30px #00000045;
  opacity: 1;
  padding: 125px;

}

.clients_inner{
  padding: 30px;
  margin: 0 auto;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 36px;
  opacity: 1;
  width: 95%;

} 

.clients_text{
  font-size: 10px;
  line-height: 0.5;
  padding: 20px 50px;
}
.clients_card{
  display: flex;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #00000029; 
  border-radius: 36px;
  opacity: 1;
}

.clients_card1{
  font-size: 10px;
  padding: 40px;
}

.clients_img{
  padding: 10px;
}