.container {
  margin: 0 auto;
  max-width: 1100px;
}
.head {
  text-align: left;
  background-image: url("/img/FONDO.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  padding: 50px 0;
  padding-top: 250px;
}
.header .line {
  width: 100%;
}
.section {
  background: linear-gradient(180deg, #39b44a 0%, #208d2e 100%);
  box-shadow: 0px -5px 30px #00000045;
}

/* section1 */
.section1 {
  padding: 60px 20px;
  color: white;
  margin-top: -20px;
}
.section_card {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 100px;
  height: auto;
}

.section_card_item {
  width: 30%;
  background-color: white;
  transition-duration: 0.4s;
  overflow: hidden;
  border-radius: 4px;
  padding-top: 10px;
  height: 250px;
}
.section_card_item:hover {
  height: 500px;
  transition-duration: 0.4s;
}
.section_card_item h3 {
  color: white;
  font-size: 16px;
}
.item_image {
  padding: 20px;
  height: 250px;
  background-position: center;
  background-size: cover;
  transition-duration: 0.2s;
}
.section_card_item:hover .item_image {
  height: 200px;
  transition-duration: 0.2s;
}
.section_card_item .hidden_content {
  padding: 20px;
}
.section_card_item .separador {
  width: 100%;
}
.item_text {
  padding: 20px 0;
  color: #003e1d;
  font-size: 18px;
  font-weight: 600;
}

.section_cards {
  vertical-align: top;
  cursor: pointer;
  width: 30%;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  height: auto;
}
.section_card h5 {
  font-size: 14px;
  margin: 10px 0;
  transition-duration: 0.2s;
}
.separador {
  border: 1px solid rgb(13, 117, 13);
  width: 30px;
}
.text_card {
  font-size: 13px;
}
.text_card p {
  font-size: 18px;
  color: #003e1d;
  margin: 5px !important;
  text-align: left !important;
  transition-duration: 3s;
}
.separador2 {
  border: 1px solid rgb(13, 117, 13);
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.section_cards:hover {
  border-top: 10px solid #003e1d;
  transition-duration: 3s;
  color: #208d2e;
}
.section_cards:hover h5 {
  font-size: 18px;
  color: #208d2e;
  transition-duration: 3s;
}
.section_cards:hover .separador {
  opacity: 0;
  color: #208d2e;
}
.section_cards:hover .separador2 {
  opacity: 100%;
  color: #208d2e;
}
.section_cards:hover .text_card p {
  display: block;
  color: #208d2e;
}

.separador3 {
  margin: 0 auto;
  border: 0.5px solid white;
  width: 80%;
}

/* section2 */
.section2 {
  text-align: center;
  padding: 30px;
}
/* section3 */
.section3 {
  text-align: center;
  padding: 50px 20px;
  padding-bottom: 200px;
}
.somos {
  text-align: center;
  color: white;
}

.somos h4 {
  color: #c2c2c2;
}

/* section4 */

.section4 {
  background-color: white;
}
.content4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}
.content_left img {
  border-radius: 10px;
}
.content_right p {
  margin: 0 !important;
}
.content_right_text li {
  font-size: 16px;
}
.content_right_boton {
  padding-top: 25px;
}
.content_right_boton button {
  box-shadow: 1px 6px 38px #ccccdf4d;
}
.content_right_boton button:hover {
  color: #208d2e;
  border: 1px solid #208d2e;
}

/* section5 */

.clients {
  background: transparent linear-gradient(180deg, #39b44a 0%, #208d2e 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px -5px 30px #00000045;
  padding: 150px;
}
.clients_inner {
  padding: 30px;
  margin: 0 auto;
  background: #fafafa 0% 0% no-repeat padding-box;
  border-radius: 36px;
  opacity: 1;
  width: 95%;
}
.clients_text {
  font-size: 10px;
  line-height: 0.5;
  padding: 20px 50px;
}
.clients_card {
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;

  border-radius: 36px;
  opacity: 1;
}

.clients_card1 {
  font-size: 10px;
  padding: 40px;
}
.clients_card1 h4 {
  margin: 15px 0 !important;
  font-style: italic;
}

.clients_img {
  padding: 10px;
}

.video_btn {
  text-align: right;
}
.video_btn button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  padding: 10px 60px 10px 30px;
}
.video_btn button svg {
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 0;
  margin-top: -10px;
  cursor: pointer;
}
.video_box {
  position: fixed;
  top: 4vh;
  left: 5%;
  width: 90%;
  z-index: 999;
}

/* medias */

@media only screen and (max-width: 1000px) {
  .header {
    padding: 40px 20px;
    padding-top: 150px;
  }
  .section {
    background: linear-gradient(180deg, #39b44a 0%, #208d2e 100%);
    box-shadow: 0px -5px 30px #00000045;
  }
  .head .line {
    width: 150%;
    margin-left: -10%;
  }

  .section1 {
    padding: 40px 20px;
    color: white;
    margin-top: -20px;
  }
  .section_card {
    padding: 10px 20px;
    display: block;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 20px;
    height: auto;
  }
  .section_cards {
    vertical-align: top;
    cursor: pointer;
    width: 80%;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
  }

  /* section2 */
  .section2 {
    text-align: center;
    padding: 40px 20px;
  }
  /* section3 */
  .section3 {
    text-align: center;
    padding: 50px 20px;
    padding-bottom: 100px;
  }

  .section4 {
    background-color: white;
  }
  .content4 {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
  }
  .content_left img {
    border-radius: 10px;
  }
  .content_right p {
    margin: 0 !important;
  }
  .content_right_text li {
    font-size: 16px;
  }
  .content_right_boton {
    padding-top: 25px;
  }

  /* section5 */

  .clients {
    background: transparent linear-gradient(180deg, #39b44a 0%, #208d2e 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px -5px 30px #00000045;
    padding: 60px 20px;
  }
  .clients_inner {
    padding: 30px;
    margin: 0 auto;
    background: #fafafa 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 36px;
    opacity: 1;
    width: 95%;
  }
  .clients_text {
    font-size: 10px;
    line-height: 0.5;
    padding: 20px 50px;
  }
  .clients_card {
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 36px;
    opacity: 1;
  }
  .clients_card1 {
    font-size: 10px;
    padding: 40px;
  }
  .clients_card1 h4 {
    margin: 15px 0 !important;
    font-style: italic;
  }

  .clients_img {
    padding: 10px;
  }
}
