.container {
  margin: 0 auto;
  max-width: 1100px;
}
.head {
  text-align: left;
  background-color: white;
}
.header {
  margin: 0 auto;
  padding: 0 100px;
  padding-top: 150px;
  padding-bottom: 50px;
}
.header p {
  margin: 20px 0;
}
.header h1 {
  margin: 0;
  color: white;
  font-size: 45px;
}
.header .line {
  width: 100%;
}
.header_down {
  display: flex;
  padding: 10px 100px;
  padding-bottom: 50px;
}
.header_item1 {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.header_text {
  padding: 10px 25px;
  text-align: justify;
}
.header_text p {
  font-size: 11px;
  margin: 15px 0;
}
/* section1 */
.section {
  background: linear-gradient(180deg, #39b44a 0%, #208d2e 100%);
  box-shadow: 0px -5px 30px #00000045;
  padding: 100px 150px;
}
.section1 {
  display: flex;
  background-color: white;
  border-radius: 10px;
}
.section1_title {
  padding-bottom: 60px;
}
.section1_item_2_text {
  padding: 30px 50px;
}
.line {
  padding: 20px 0;
}
.separador {
  border: 1px solid rgb(13, 117, 13);
  width: 20%;
}
.section1_item_2_text p {
  margin: 15px 0;
}
/* section2 */
.section2 {
  text-align: center;
  padding: 30px;
}
/* section3 */
.section3 {
  text-align: center;
  padding: 50px 20px;
  padding-bottom: 200px;
}
.somos {
  text-align: center;
  color: white;
}
.somos h2 {
  font-size: 40px;
  letter-spacing: -0.9px;
  color: #ffffff;
  opacity: 1;
}
.somos h4 {
  color: #c2c2c2;
}
.section3 button {
  color: #006938;
  font-size: 10px;
  border-style: none;
  padding: 15px 25px;
  border-radius: 50px;
}
/* section4 */

.section4 {
  background-color: white;
}
.content4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}
.content4_down {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.content_left img {
  border-radius: 10px;
}
.content_right p {
  margin: 0 !important;
}

/* section5 */

.clients {
  background: transparent linear-gradient(180deg, #39b44a 0%, #208d2e 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px -5px 30px #00000045;
  padding: 150px;
}
.calidad {
  column-gap: 25px;
  padding: 0 100px;
  align-items: center;
  display: flex;
}

.clients_text p {
  margin: 10px 0;
}

/* section6 */

.certificacion {
  padding: 125px 100px;
  padding-bottom: 150px;
  margin: 0 auto;
}
.certificacion p {
  font-size: 14px;
  margin: 15px 0;
  padding-bottom: 30px;
}

.acordion li {
  list-style: none;
  padding: 25px 0;
  border-bottom: 1px solid red;
}

/* footer */
.footer {
  background-color: white;
}
.flex_footer {
  margin: 0 auto;
  padding: 100px;
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_footer p {
  margin: 10px 0 !important;
}
.footer_space1 {
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  opacity: 1;
  background-color: white;
}
.flex_footer p {
  color: #7d7d7d;
}
.footer_right h2 {
  padding: 15px 0;
  margin-top: 15px;
}
.footer_right input {
  border-style: none;
  background: #f1f8fc 0% 0% no-repeat padding-box;
  border-radius: 23px;
  padding: 5px 75px;
}
.footer_right button {
  color: white;
  font-size: 10px;
  background: transparent linear-gradient(270deg, #007b3a 0%, #003e1d 100%) 0%
    0% no-repeat padding-box;
  border-style: none;
  border-radius: 23px;
  padding: 10px 50px;
}

/* footer-down */
.footer_img {
  padding: 15px 0;
}
.footer_down {
  background-color: white;
}
.footer_text p {
  margin: 20px 0 !important;
}
.flex_footer_down {
  margin: 0 auto;
  padding: 90px;
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.space {
  background-color: white;
}
.footer_space {
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  opacity: 1;
  width: 80%;
  background-color: white;
}
.foo_left li {
  font-size: 12px;
  padding-right: 10px;
  text-decoration: none;
  background-color: white;
  display: inline-block;
}

.foo_right a {
  background-color: white;
  padding-right: 10px;
}
