.container {
  margin: 0 auto;
  max-width: 1100px;
}
.head {
  text-align: left;
  background-color: white;
}
.header {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 150px;
  padding-bottom: 50px;
}
.header p {
  margin: 20px 0;
}
.header h1 {
  margin: 0;
  color: white;
  font-size: 45px;
}
.header .line {
  width: 100%;
}
.header_down {
  display: flex;
  padding: 10px 20px;
  padding-bottom: 50px;
}
.header_item1 {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.header_text {
  padding: 10px 25px;
  text-align: justify;
}
.header_text p {
  font-size: 11px;
  margin: 15px 0;
}
/* section1 */
.section {
  background: linear-gradient(180deg, #39b44a 0%, #208d2e 100%);
  box-shadow: 0px -5px 30px #00000045;
}
.nuestro {
  margin: 0 auto;
  padding: 100px 20px;
}
.section1 {
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 60px;
}
.section1_title {
  padding-bottom: 40px;
}
.section1_item_2_text {
  padding: 25px 20px;
}
.section1_item_2_text p {
  margin: 15px 0;
}

/* section4 */

.section4 {
  padding: 100px 20px;
  background-color: white;
}
.content4 {
  display: flex;
  align-items: center;
}

.content_left img {
  border-radius: 10px;
}

.content_right p {
  margin: 0 !important;
}
.content4_down {
  width: 75%;
  margin: 0 auto;
}
/* section5 */

.clients {
  background: transparent linear-gradient(180deg, #39b44a 0%, #208d2e 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px -5px 30px #00000045;
  padding: 150px 20px;
}
.calidad {
  column-gap: 25px;
  padding: 0 100px;
  align-items: center;
  display: flex;
}

.clients_text p {
  margin: 10px 0;
}

/* section6 */

.certificacion {
  padding: 125px 20px;
  padding-bottom: 150px;
  margin: 0 auto;
}

.acordion li {
  list-style: none;
  padding: 25px 0;
  border-bottom: 0.5px solid #7d7d7d;
}

.box_acordion {
  margin: 20px 0;
}
.box_acordion_item {
  cursor: pointer;
  padding: 20px;
  transition-duration: 0.2s;
  border-bottom: 1px solid #ccc;
}
.box_acordion_item:hover {
  background-color: rgba(0, 105, 56, 0.05);
}
.box_acordion_item .title {
  font-size: 30px;
}
.box_acordion_item_content {
  display: none;
}
.active .box_acordion_item_content {
  display: block;
}

@media only screen and (max-width: 1000px) {
  .header {
    padding: 40px 30px;
    padding-top: 150px;
  }
  .header_down {
    display: block;
    text-align: center;
  }
  .header_item1 {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .header_text {
    text-align: center;
  }
  .nuestro {
    padding: 50px 20px;
    text-align: center;
  }
  .section1 {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .content4 {
    display: block;
  }
  .content_right {
    padding: 20px 30px;
  }
  .clients {
    text-align: center;
    padding: 100px 30px;
  }
  .calidad {
    display: block;
    padding: 25px 20px;
  }
  .clients_text {
    padding-bottom: 50px;
  }
  .section6 {
    padding: 0 30px;
  }
  .certificacion {
    padding-top: 75px;
  }
}
